{% extends "frontend/base.html" %}

{% block title %} Chat {% endblock %}
{% block content %}
    <div id="chat" style="width:70%; max-height: 600px;">
        {{ room_name|json_script:"room-name" }}
    </div>
    {% load static %}
{% endblock %}

{% block script %}
    const username = "{{request.user}}";
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );


    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.message;
        const author = data.author;

        var div = document.createElement('div');
        var div_message = document.createElement('div');
        div_message.textContent = message;

        if (username === author)
        {
            div.className = 'd-flex justify-content-end mb-3 m-2';
            div_message.className = 'send_message';
        } else
        {
            div.className = 'd-flex justify-content-start mb-3 m-2';
            div_message.className = 'receive_message';
        }

        div.appendChild(div_message);
        var main_div = document.querySelector('#chat-log');
        main_div.appendChild(div);
        main_div.scrollTop =  main_div.scrollHeight;

    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'author': username
        }));
        messageInputDom.value = '';
    };

{% endblock %}
